:root {
    --dark-black: rgb(4, 0, 0);
    --dark: #222222;
    --white: #fafafa;
    --muted-background: rgb(225,225,225);
    --red:#ec3750;
    --orange: #ff8c37;
    --yellow:#f1c40f;
    --green:#33d6a6;
    --cyan:#5bc0de;
    --blue:#338eda;
    --purple:#a633d6;
    --muted:#8492a6;
    --preview-background: #ffffff;
    --text: #000;
    --darker: #121217;
    --darkless: #252429;
    --black: #1f2d3d;
    --steel: #273444;
    --slate: #3c4858;
    --smoke: #e0e6ed;
    --snow: #f9fafc;
    --background: var(--white);
    --elevated: var(--white);
    --sheet: var(--snow);
    --sunken: var(--smoke);
    --border: var(--smoke);
    --primary: #ec3750;
    --secondary: #8492a6;
    --accent: #5bc0de;
    --twitter: #1da1f2;
    --facebook: #3b5998;
    --instagram: #e1306c;
    --breakpoint-xs: 32em;
    --breakpoint-s: 48em;
    --breakpoint-m: 64em;
    --breakpoint-l: 96em;
    --breakpoint-xl: 128em;
    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 32px;
    --spacing-5: 64px;
    --spacing-6: 128px;
    --spacing-7: 256px;
    --spacing-8: 512px;
    --font-1: 12px;
    --font-2: 16px;
    --font-3: 20px;
    --font-4: 24px;
    --font-5: 32px;
    --font-6: 48px;
    --font-7: 64px;
    --font-8: 96px;
    --font-9: 128px;
    --font-10: 160px;
    --font-11: 192px;
    --line-height-limit: 0.875;
    --line-height-title: 1;
    --line-height-heading: 1.125;
    --line-height-subheading: 1.25;
    --line-height-caption: 1.375;
    --line-height-body: 1.5;
    --font-weight-body: 400;
    --font-weight-bold: 700;
    --font-weight-heading: var(--font-weight-bold);
    --letter-spacing-title: -0.009em;
    --letter-spacing-headline: 0.009em;
    --size-wide-plus: 2048px;
    --size-wide: 1536px;
    --size-layout-plus: 1200px;
    --size-layout: 1024px;
    --size-copy-ultra: 980px;
    --size-copy-plus: 768px;
    --size-copy: 680px;
    --size-narrow-plus: 600px;
    --size-narrow: 512px;
    --radii-small: 4px;
    --radii-default: 8px;
    --radii-extra: 12px;
    --radii-ultra: 16px;
    --radii-circle: 99999px;
    --shadow-text: 0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.125);
    --shadow-small: 0 1px 2px rgba(0, 0, 0, 0.0625),
    0 2px 4px rgba(0, 0, 0, 0.0625);
    --shadow-card: 0 4px 8px rgba(0, 0, 0, 0.125);
    --shadow-elevated: 0 1px 2px rgba(0, 0, 0, 0.0625),
    0 8px 12px rgba(0, 0, 0, 0.125);
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
    format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
    format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
    format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/fonts/variable/JetBrainsMono[wght].ttf") format("truetype-variations");
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/fonts/variable/JetBrainsMono-Italic[wght].ttf") format("truetype-variations");
    font-style: italic;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Phantom Sans', sans-serif;
}

#header{
    width: 100%;
    background-color: rgb(4, 0, 0);
    margin: 0;
    color: white;
    text-align: center;

    font-size: 1rem;
    font-weight: bold;
}

#disclaimer{
    padding: 1rem 3rem 1rem 3rem;
}

#logo{
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    padding: 1rem;
}

#header-flag{
    width: 10rem;
    image-rendering: pixelated;
}

#body{
    padding: 2rem 10rem 2rem 10rem;
}

#footer{
    background-color: var(--muted-background);
    color: var(--muted);
    text-align: center;
    font-size: 1rem;
    padding: 2rem 21rem;
}

h1{
    font-size: 3.5rem;
}

#bodier-body{
    margin: 0 10rem 0 3rem;
    font-size: 1.35rem;
}

#dark-mode-container{
    margin-top: 3rem;
}

#main-container{
    background-color: var(--muted-background);
    margin: 3rem 2rem;
    padding: 3rem;
    max-width: 60rem;
}

h3, label{
    font-size: 1.3rem;
    font-weight: bold;
}

select, input:not[type="checkbox"]{
    appearance: none;
    border: 2px solid var(--muted);
    font-size: 1rem;
    height: 2rem;
    padding: 0 0.6rem;
    line-height: 2rem;
    box-sizing: border-box;
}

#font-select{
    font-family: "Times New Roman", times, serif;
}

#font-size{
    width: 4rem
}

#font-size-pt{
    font-size: 1.2rem
}

#font-containest{
    display: flex;
    gap: 1rem;
    width: 30rem;
}

#containing-container, #doc-content-container{
    display: flex;
    gap: 2rem;
}

hr{
    margin: 3rem 1rem;
    border: 2px solid var(--white);
}

#preview-box{
    color: var(--text);
    font-family: "Times New Roman", times, serif;
    font-size: 12pt;
    background-color: var(--preview-background);
    width: 26rem;
    height: 8rem;
    padding: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header-container{
    margin-left: 3rem;
}

#jurisdiction{
    width: 22rem;
}

select{
    font-family: 'Phantom Sans', sans-serif;
}

#title-container, #other-stuff-idk{
    width: 100%;
    text-align: center;
}

#i-cant-be-bothered-anymore{
    margin-top: 2rem;
    flex-direction: row;
}

#containing-container, #doc-content-container{
    flex-wrap: wrap;
}

#document-type{
    width: 20rem;
}

#title{
    width: 25rem;
}

#authors, #secondary{
    width: 15rem;
}

#secondary-for{
    width: 6rem;
}

#please-give-me-my-visa{
    text-align: center;
    margin-top: 3rem;
}

#content {
    width: 80%;
}

#cuntier-preview{
    margin: auto auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: "Times New Roman", times, serif;
    color: var(--text);
    background: var(--preview-background);
    padding: 3rem 2rem;
    border: 2px solid var(--muted);
    width: 40rem;
    height: 56.56rem;
    overflow-y: scroll;
}

#cunt-header{
    display: flex;
    gap: 3rem;
    width: 36rem;
    margin: auto auto;
}

#top-left, #top-right{
    width: 18rem;
    text-align: center;
}

#title-er{
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}

.default-preview{
    font-size: 0.8rem;
}

#preview-box h1 {
    font-size: 15pt;
}

#preview-box h2 {
    font-size: 13pt;
}

#preview-box h3 {
    font-size: 10pt;
}

#preview-box p {
    font-size: 6pt;
}

.centered{
    text-align: center;
}

#the-actual-real-legit-thing{
    /*display: none;*/
    /*visibility: hidden;*/
    font-family: "Times New Roman", times, serif;
    width: 100%;
    background-color: var(--preview-background);
    color: var(--text);
    overflow-wrap: break-word;
    word-wrap: break-word;
    background: var(--preview-background);
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    margin: 0;
    align-items: center;
    /*border: 2px solid var(--muted);*/
}

#real-cunt-header{
    font-size: 1rem;
    display: flex;
    gap: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#real-title-thing-container{
    font-size: 1.1rem;
    width: 100%;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-left: 0;
    line-height: 1.7;
}

#le-button-\(with-a-heavy-french-accent\){
    margin: 2rem auto;
    align-items: center;
    text-align: center;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    border-radius: var(--radii-circle);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-card);
    letter-spacing: var(--letter-spacing-headline);
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    padding: 8px 16px;
    color: var(--white);
    background-color: var(--red);
    border: 0;
    font-size: var(--font-2);
}

button:focus,
button:hover {
    box-shadow: var(--shadow-elevated);
    transform: scale(1.0625);
}

button.lg {
    font-size: var(--font-3)!important;
    line-height: var(--line-height-title);
    padding: var(--spacing-3) var(--spacing-4);
}

button.outline {
    background: none;
    color: var(--primary);
    border: 2px solid currentcolor;
}

button.cta {
    font-size: var(--font-2);
    background-image: radial-gradient(
            ellipse farthest-corner at top left,
            var(--orange),
            var(--red)
    );
}

@page{
    size: A4;
    margin: 20mm;
}

@media print{


    body > *{
        display: none !important;
    }

    #real-cunt-header{
        display: table;
        width: 100%;
        table-layout: fixed;
        flex-wrap: nowrap;
    }

    #real-top-left, #real-top-right{
        display: table-cell;
        width: 50%;
        text-align: center;
        vertical-align: top;
        border: 1px solid var(--muted);
    }

    #real-title-thing-container, #real-document-type{
        white-space: nowrap;
    }

    #the-actual-real-legit-thing{
        display: block !important;

        width: 210mm;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 1.5cm;
    }

    #the-actual-real-legit-thing, #the-actual-real-legit-thing *{
        visibility: visible !important;
    }
}