:root {
    --dark-black: rgb(4, 0, 0);
    --dark: #222222;
    --white: #fafafa;
    --muted-background: rgb(225,225,225);
    --red:#ec3750;
    --orange: #ff8c37;
    --yellow:#f1c40f;
    --green:#33d6a6;
    --cyan:#5bc0de;
    --blue:#338eda;
    --purple:#a633d6;
    --muted:#8492a6;
    --preview-background: #ffffff;
    --text: #000;
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
    format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
    format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
    format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/fonts/variable/JetBrainsMono[wght].ttf") format("truetype-variations");
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/fonts/variable/JetBrainsMono-Italic[wght].ttf") format("truetype-variations");
    font-style: italic;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Phantom Sans', sans-serif;
}

#header{
    width: 100%;
    background-color: rgb(4, 0, 0);
    margin: 0;
    color: white;
    text-align: center;

    font-size: 1rem;
    font-weight: bold;
}

#disclaimer{
    padding: 1rem 3rem 1rem 3rem;
}

#logo{
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    padding: 1rem;
}

#header-flag{
    width: 10rem;
    image-rendering: pixelated;
}

#body{
    padding: 2rem 10rem 2rem 10rem;
}

#footer{
    background-color: var(--muted-background);
    color: var(--muted);
    text-align: center;
    font-size: 1rem;
    padding: 2rem 21rem;
}

h1{
    font-size: 3.5rem;
}

#bodier-body{
    margin: 0 10rem 0 3rem;
    font-size: 1.35rem;
}

#dark-mode-container{
    margin-top: 3rem;
}

#main-container{
    background-color: var(--muted-background);
    margin: 3rem 2rem;
    padding: 3rem;
    max-width: 60rem;
}

h3, label{
    font-size: 1.3rem;
    font-weight: bold;
}

select, input:not[type="checkbox"]{
    appearance: none;
    border: 2px solid var(--muted);
    font-size: 1rem;
    height: 2rem;
    padding: 0 0.6rem;
    line-height: 2rem;
    box-sizing: border-box;
}

#font-select{
    font-family: "Times New Roman", times, serif;
}

#font-size{
    width: 4rem
}

#font-size-pt{
    font-size: 1.2rem
}

#font-containest{
    display: flex;
    gap: 1rem;
    width: 30rem;
}

#containing-container, #doc-content-container{
    display: flex;
    gap: 2rem;
}

hr{
    margin: 3rem 1rem;
    border: 2px solid var(--white);
}

#preview-box{
    color: var(--text);
    font-family: "Times New Roman", times, serif;
    font-size: 12pt;
    background-color: var(--preview-background);
    width: 26rem;
    height: 8rem;
    padding: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header-container{
    margin-left: 3rem;
}

#jurisdiction{
    width: 22rem;
}

select{
    font-family: 'Phantom Sans', sans-serif;
}

#title-container, #other-stuff-idk{
    width: 100%;
    text-align: center;
}

#i-cant-be-bothered-anymore{
    margin-top: 2rem;
    flex-direction: row;
}

#containing-container, #doc-content-container{
    flex-wrap: wrap;
}

#document-type{
    width: 20rem;
}

#title{
    width: 25rem;
}

#authors, #secondary{
    width: 15rem;
}

#secondary-for{
    width: 6rem;
}

#please-give-me-my-visa{
    text-align: center;
    margin-top: 3rem;
}

#content {
    width: 80%;
}

#cuntier-preview{
    margin: auto auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: "Times New Roman", times, serif;
    color: var(--text);
    background: var(--preview-background);
    padding: 3rem 2rem;
    border: 2px solid var(--muted);
    width: 40rem;
}

#cunt-header{
    display: flex;
    gap: 3rem;
    width: 36rem;
    margin: auto auto;
}

#top-left, #top-right{
    width: 18rem;
    text-align: center;
}

#title-er{
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}

.default-preview{
    font-size: 0.8rem;
}

#preview-box h1 {
    font-size: 15pt;
}

#preview-box h2 {
    font-size: 13pt;
}

#preview-box h3 {
    font-size: 10pt;
}

#preview-box p {
    font-size: 6pt;
}

.centered{
    text-align: center;
}

#the-actual-real-legit-thing{
    /*display: none;*/
    /*visibility: hidden;*/
    display: flex;
    font-family: "Times New Roman", times, serif;
    width: 100%;
    background-color: var(--preview-background);
    color: var(--text);
    margin: auto auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background: var(--preview-background);
    padding: 3rem 2rem;
    border: 2px solid var(--muted);
    justify-content: center;
    align-items: center;
}

#real-cunt-header{
    font-size: 1rem;
    display: flex;
    gap: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%
}