:root {
    --dark-black: rgb(4, 0, 0);
    --dark: #222222;
    --white: #fafafa;
    --muted-background: rgb(225,225,225);
    --red:#ec3750;
    --orange: #ff8c37;
    --yellow:#f1c40f;
    --green:#33d6a6;
    --cyan:#5bc0de;
    --blue:#338eda;
    --purple:#a633d6;
    --muted:#8492a6
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
    format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
    format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
    format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/fonts/variable/JetBrainsMono[wght].ttf") format("truetype-variations");
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/fonts/variable/JetBrainsMono-Italic[wght].ttf") format("truetype-variations");
    font-style: italic;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Phantom Sans', sans-serif;
}

#header{
    width: 100%;
    background-color: rgb(4, 0, 0);
    margin: 0;
    color: white;
    text-align: center;

    font-size: 1rem;
    font-weight: bold;
}

#disclaimer{
    padding: 1rem 3rem 1rem 3rem;
}

#logo{
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    padding: 1rem;
}

#header-flag{
    width: 10rem;
    image-rendering: pixelated;
}

#body{
    padding: 2rem 10rem 2rem 10rem;
}

#footer{
    background-color: var(--muted-background);
    color: var(--muted);
    text-align: center;
    font-size: 1rem;
    padding: 2rem 20rem 2rem 20rem;
}

h1{
    font-size: 3.5rem;
}

#bodier-body{
    margin: 0 10rem 0 3rem;
    font-size: 1.35rem;
}

#main-container{
    background-color: var(--muted-background);
    margin: 3rem 2rem;
    padding: 3rem;
}

h3{
    font-size: 1.3rem;
}

select, input{
    appearance: none;
    border: 2px solid var(--muted);
    font-size: 1rem;
    height: 2rem;
    padding: 0 0.6rem;
    line-height: 2rem;
    box-sizing: border-box;
}

#font-select{
    font-family: "Times New Roman", times, serif;
}

#font-size{
    width: 4rem
}

#font-size-pt{
    font-size: 1.2rem
}

#font-containest{
    display: flex;
    gap: 1rem;
    width: 30rem;
}

#containing-container{
    display: flex;
    gap: 2rem;
}

#preview-box{
    font-family: "Times New Roman", times, serif;
    background-color: var(--white);
    width: 26rem;
    height: 8rem;
    padding: 1rem;
    overflow-y: hidden;
}